@use "@/styles/partials/colours" as *;

.tag {
    padding: 0.25rem 0.5rem;
    border-radius: 0.25rem;
    font-size: 0.75rem;
    font-weight: 600;

    color: $frosted-mint;

    display: flex;
    align-items: center;
    justify-content: center;

    background-color: $deep-forest;

    &__icon {
        width: 1rem;
        height: 1rem;
        margin-right: 0.25rem;
    }

    &--owner {
        background-color: $evergreen;
    }
}
