@use "@/styles/partials/colours" as *;

.projects {
    width: 100%;

    display: flex;
    flex-direction: column;
    align-items: center;

    &__image {
        width: 75%;
        filter: saturate(0) contrast(125%);
    }
}
