.tagList {
    display: flex;
    gap: 0.5rem;
    flex-wrap: wrap;
    align-items: center;
    margin-top: 1rem;

    &--center {
        justify-content: center;
    }
    &--left {
        justify-content: flex-start;
    }
}
