@use "@/styles/partials/mixins" as *;

.ProjectBanner {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    text-align: center;

    @include tablet {
        justify-content: flex-start;
        align-items: flex-start;
        gap: 6rem;
        text-align: left;
    }

    &__name {
        word-break: break-word;
    }

    &__description {
        word-break: break-word;
    }
}
