@use "@/styles/partials/colours" as *;

.ResumeEducation {
    &__content {
        display: flex;
        flex-direction: column;
    }

    &__item {
        padding: 1rem;
        border-bottom: 1px dotted $black;

        &:last-child {
            border-bottom: none;
        }
    }

    &__positions {
        margin-bottom: 0.5rem;
    }

    &__title {
        margin: 0;
        font-size: 1.125rem;
        font-weight: 600;
        padding-left: 1rem;
    }

    &__position-dates {
        display: block;
        font-size: 0.875rem;
    }
}
