// Colours
$white: #ffffff;
$frosted-mint: #d8f3dc;
$celadon: #95d5b2;
$mint-leaf: #52b788;
$forest-green: #2d8659;
$dark-emerald: #2d6a4f;
$deep-forest: #1a4d2e;
$evergreen: #081c15;
$black: #010906;
$background: rgba(1, 9, 6, 0.5);

// Map
$colors: (
    "white": $white,
    "frosted-mint": $frosted-mint,
    "celadon": $celadon,
    "mint-leaf": $mint-leaf,
    "forest-green": $forest-green,
    "dark-emerald": $dark-emerald,
    "deep-forest": $deep-forest,
    "evergreen": $evergreen,
    "black": $black,
    "background": $background
);
