@use "@/styles/partials/mixins" as *;
@use "@/styles/partials/colours" as *;

.container {
    display: flex;
    flex-direction: column;

    width: 100%;
    overflow: hidden;

    gap: 0rem;
    @include tablet {
        flex-direction: row;
        height: 100vh;
    }

    .left,
    .right {
        display: flex;
        flex-direction: column;
        gap: 2rem;
        width: 100%;
        background-color: $evergreen;

        @include tablet {
            gap: 2rem;
        }
    }

    .left {
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 1rem;

        @include tablet {
            width: 45%;
            height: 100vh;
            margin: 0 0 2rem 0;
            padding: 2rem;
        }
    }

    .right {
        width: 100%;
        background-color: $dark-emerald;

        @include tablet {
            width: 55%;
            overflow-y: scroll;
        }
    }
}
