@use "@/styles/partials/mixins" as *;
@use "@/styles/partials/colours" as *;

.container {
    display: flex;
    flex-direction: column;
    width: 100%;
    overflow: hidden;
    background-color: $evergreen;

    @include tablet {
        flex-direction: row;
        height: 100vh;
    }

    .left,
    .right {
        display: flex;
        flex-direction: column;
        width: 100%;
    }

    .left {
        gap: 1.5rem;
        justify-content: flex-start;
        align-items: center;
        padding: 1rem;

        @include tablet {
            width: 45%;
            height: 100vh;
            padding: 2rem;
        }

        &__menu {
            width: 100%;
            display: flex;
            justify-content: flex-start;
            padding-bottom: 0.5rem;
        }

        &__content {
            width: 100%;
            flex: 1;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            gap: 2rem;
        }
    }

    .right {
        gap: 2rem;
        background-color: $dark-emerald;

        @include tablet {
            width: 55%;
            overflow-y: scroll;
        }
    }
}
