@use "@/styles/partials/colours" as *;
@use "@/styles/partials/mixins" as *;

.personalLinks {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    @include tablet {
        justify-content: flex-start;
        align-items: flex-start;
    }

    &__list {
        list-style: none;
        margin: 0;

        display: flex;
        gap: 1rem;
        flex-direction: row;
        align-items: center;
        padding: 0;
    }
}
