@use "@/styles/partials/colours" as *;
@use "@/styles/partials/mixins" as *;

html {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  box-sizing: border-box;

  font-family: Verdana, Geneva, Tahoma, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  color: $white;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  margin: 0;
  padding: 0;
  background-color: $evergreen;
}

h1 {
  font-size: 2.5rem;
  margin: 0 0 0.5rem 0;
}

h2 {
  font-size: 2rem;
  margin: 0 0 0.5rem 0;
}

p {
  font-size: 1rem;
  margin: 0;
  padding: 0 0 1rem 0;
}

#app {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;

  @include tablet {
    height: 100vh;
  }
}
