@use "@/styles/partials/mixins" as *;
@use "@/styles/partials/colours" as *;

.container {
    display: flex;
    flex-direction: column;

    width: 100%;
    max-width: 100%;
    overflow: hidden;

    gap: 2rem;
    @include tablet {
        flex-direction: row;
        gap: 1rem;
        height: 100%;
    }
}

.left,
.right {
    display: flex;
    flex-direction: column;
    padding: 1rem;
    gap: 2rem;
    width: 100%;

    @include tablet {
        padding: 2rem;
        gap: 2rem;
    }
}

.left {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;

    @include tablet {
        width: 45%;
        margin: 0 0 2rem 0;
    }
}

.right {
    width: 100%;
    background-color: $dark-emerald;

    @include tablet {
        width: 55%;
        overflow-y: scroll;
    }
}
