@use "@/styles/partials/colours" as *;

.skillIcon {
    margin: 0;
    padding: 0.5rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    gap: 0.5rem;
    width: 4rem;
    height: 5rem;

    position: relative;
    cursor: help;

    border-radius: 0.5rem;

    &__link {
        display: inline-block;
        text-decoration: none;
    }

    &__label {
        font-size: 0.75rem;
        padding: 0;
        text-align: center;
    }

    &__icon {
        width: 2.25rem;
        height: 2.25rem;
        display: inline-block;
        background-repeat: no-repeat;
        background-position: center;
        background-size: contain;
        transition: opacity 160ms ease;

        &:hover {
            opacity: 0.8;
        }
    }
}
