@use "@/styles/partials/colours" as *;

.project {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    border-bottom: 1px solid $evergreen;

    padding: 1rem;

    &:last-child {
        border-bottom: none;
    }

    &__group,
    &__description {
        margin: 0;
        padding: 1rem 0;
    }

    &__imagecontainer {
        display: flex;
        justify-content: center;
        align-items: center;
    }
    &__image {
        width: 90%;
    }

    &__tags {
        display: flex;
        gap: 0.5rem;
        flex-wrap: wrap;
        justify-content: center;
        margin-top: 1rem;
    }
}
