@use "@/styles/partials/colours" as *;

.project {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    border-top: 1px dotted $evergreen;

    padding: 1rem;

    // &:last-child {
    //     border-top: none;
    // }

    &__title {
        margin: 0;
        padding: 0;
        text-align: center;
        font-weight: bold;

        &--highlight {
            color: $frosted-mint;
            font-style: italic;
        }
    }

    &__description {
        margin: 0;
        padding: 1rem 0;
        width: 80%;
        font-size: 0.75rem;
        text-align: center;
    }

    &__imagecontainer {
        display: flex;
        justify-content: center;
        align-items: center;
        position: relative;
    }

    &__image {
        width: 90%;
    }

    &__tags {
        display: flex;
        gap: 0.5rem;
        flex-wrap: wrap;
        justify-content: center;
        margin-top: 1rem;
    }
}
