@use "@/styles/partials/colours" as *;

.about {
    width: 100%;

    display: flex;
    flex-direction: column;
    align-items: center;

    padding: 1rem;

    border-bottom: 1px solid $evergreen;

    &__image {
        width: 75%;
        filter: hue-rotate(15deg);
    }

    &__text {
        padding: 0 0 1rem 0;
    }
}
