@use "@/styles/partials/colours" as *;
@use "@/styles/partials/mixins" as *;

.navigation {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;

    font-size: 0.75rem;

    &__item {
        display: flex;
        align-items: center;
        gap: 1rem;

        &--brand {
            margin-right: auto;
        }

        &--hidden {
            visibility: hidden;
        }
    }

    &__link {
        text-decoration: none;
        color: $white;
        padding: 0.5rem 1rem;

        &:hover {
            color: $mint-leaf;
        }
    }

    &__name {
        font-weight: bold;
        letter-spacing: 0.05rem;
    }
}
