.footer {
    width: 100%;

    display: flex;
    flex-direction: column;
    align-items: center;

    padding: 1rem;

    &__text {
        font-size: 0.75rem;
        font-weight: 700;
        padding: 0 0 1rem 0;
    }

    &__glasses {
        font-size: 0.4rem;
        font-style: italic;
    }
}
