@use "@/styles/partials/colours" as *;

.details {
    display: none;

    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;

    z-index: 2;

    background: rgba($black, 0.8);

    &__show {
        display: block;
    }

    &__content {
        position: relative;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        height: 100%;

        background-color: $mint-leaf;
    }
}
