.sectionHeader {
    display: flex;
    flex-direction: column;
    align-items: center;

    padding: 0 1rem;

    &__title {
        padding: 0 0 1rem 0;
        text-transform: capitalize;
    }

    &__text {
        padding: 0 0 1rem 0;
    }
}
