@use "@/styles/partials/colours" as *;

.LinkIcon {
    &__listItem {
        margin: 0;
        padding: 0;
    }

    &__link {
        display: inline-block;
        text-decoration: none;
    }

    &__icon {
        width: 2.25rem;
        height: 2.25rem;
        display: inline-block;
        background-color: $white;
        transition: background-color 160ms ease;
        -webkit-mask-repeat: no-repeat;
        mask-repeat: no-repeat;
        -webkit-mask-position: center;
        mask-position: center;
        -webkit-mask-size: contain;
        mask-size: contain;
        -webkit-mask-image: none;
        mask-image: none;

        &:hover {
            background-color: $mint-leaf;
        }
    }

    &__icon--github {
        -webkit-mask-image: url("/icons/github.svg");
        mask-image: url("/icons/github.svg");
    }

    &__icon--linkedin {
        -webkit-mask-image: url("/icons/linkedin.svg");
        mask-image: url("/icons/linkedin.svg");
    }

    &__icon--codepen {
        -webkit-mask-image: url("/icons/codepen.svg");
        mask-image: url("/icons/codepen.svg");
    }

    &__icon--medium {
        -webkit-mask-image: url("/icons/medium.svg");
        mask-image: url("/icons/medium.svg");
    }

    &__icon--devto {
        -webkit-mask-image: url("/icons/devto.svg");
        mask-image: url("/icons/devto.svg");
    }
}
