@use "@/styles/partials/colours" as *;

.links {
    width: 100%;

    &__list {
        list-style: none;
        margin: 0;

        display: flex;
        gap: 1rem;
        flex-direction: row;
        align-items: center;
        padding: 0;
    }
}
