@use "@/styles/partials/colours" as *;
@use "@/styles/partials/mixins" as *;
@use "@/styles/partials/utilities";

.projectLinks {
    padding: 0;
    width: 100%;
    font-size: 0.75rem;

    &__list {
        padding: 0;
        list-style: none;
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 1rem;

        @include tablet {
            justify-content: center;
            align-items: flex-start;
        }
    }

    &__listItem {
        width: fit-content;
    }

    &__link {
        @extend .u-button;
        gap: 0.25rem;
        font-size: 0.75rem;
        text-transform: capitalize;
        text-decoration: none;
        color: $white;
        background-color: $deep-forest;

        &:hover,
        &:focus {
            background-color: $evergreen;
        }
    }

    &__icon {
        width: 0.75rem;
        height: 0.75rem;
        vertical-align: middle;
        filter: invert(1);
    }
}
