@use "@/styles/partials/colours" as *;
@use "@/styles/partials/mixins" as *;

.ProjectLinks {
    padding: 0;
    width: 100%;
    font-size: 0.75rem;

    &__list {
        padding: 0;
        list-style: none;
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 1rem;

        @include tablet {
            justify-content: center;
            align-items: flex-start;
        }
    }

    &__listItem {
        background-color: $deep-forest;
        width: fit-content;
        padding: 0.5rem 1rem;
        border-radius: 0.5rem;
    }

    &__link {
        display: flex;
        gap: 0.25rem;
        align-items: center;
        justify-content: center;
        text-transform: capitalize;
        text-decoration: none;
        font-weight: 600;
        cursor: pointer;
        color: $white;
    }

    &__icon {
        width: 0.75rem;
        height: 0.75rem;
        vertical-align: middle;
        filter: invert(1);
    }
}
