@use "@/styles/partials/colours" as *;
@use "@/styles/partials/mixins" as *;

.banner {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1rem;

    @include tablet {
        justify-content: flex-start;
        align-items: flex-start;
        gap: 6rem;
    }
}
