@use "@/styles/partials/colours" as *;
@use "@/styles/partials/mixins" as *;

.banner {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    text-align: center;

    @include tablet {
        justify-content: flex-start;
        align-items: flex-start;
        gap: 4rem;
        text-align: left;
    }

    &__name {
        word-break: break-word;
    }

    &__title {
        word-break: break-word;
        font-size: 1.5rem;
    }

    &__tagline {
        word-break: break-word;
    }
}
